<div style="background-color: aqua;margin-left: 10px;margin-right: 10px;border-radius: 10px;">
    <h2 style="text-align: center;padding: 8px;">Analysis for data</h2>
</div>
<div style="display: flex; margin-right: 10px;margin-left: 10px;">
    <div class="chart-container" style="width: 35%;">
        <div style="background-color: red;border-radius: 10px;">
            <h1 style="text-align: center;padding:5px;">Country Analysis</h1>
        </div>
        <div>
            <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>
    </div>
    <div class="chart-container" style="width: 35%;">
        <div style="background-color: red;margin-left: 10px;border-radius: 10px;">
            <h1 style="text-align: center;padding:5px;">Country Analysis</h1>
        </div>
        <div>
            <canvas  id="MyChart2" >{{ chart }}</canvas>
        </div>
    </div>
    <div class="chart-container" style="width: 35%;">
        <div style="background-color: red;margin-left: 10px;border-radius: 10px;">
            <h1 style="text-align: center;padding: 5px;">Country Analysis</h1>
        </div>
        <div>
            <canvas  id="MyChart3" >{{ chart }}</canvas>
        </div>
    </div>
</div>