<div class="lead-time">
    <div class="header-all-fabric">
      <h2 style="text-align: center;padding: 5px;">Leadtime Analysis by Season</h2>
   </div>
    <div class="load-price-data">
        <div style="width: 48%; display: inline-block;">
            <h2 class="data-load-header">Lead time Summer Seasons per pyramid</h2>
            <canvas id="leadTimeSummerChart"></canvas>
        </div>
        <div style="width: 48%; display: inline-block;">
            <h2 class="data-load-header">Lead time Winter Seasons per pyramid</h2>
            <canvas id="leadTimeWinterChart"></canvas>
        </div>
    </div>
    <div class="load-price-data">
        <div style="width: 100%; display: inline-block;">
            <h2 class="data-load-header">Ontime Delivery (OTD) Performance</h2>
            <canvas id="otdPerformanceChart"></canvas>
        </div>
        <div style="width: 100%; display: inline-block;">
            <h2 class="data-load-header">Ontime Delivery (OTD) Analysis</h2>
            <canvas id="otdAnalysisChart"></canvas>
        </div>
    </div>
</div>