<div>
    <div class="chart-container">
      <div style="background-color: lightgray;">
        <h1 class="heading">Fabric Analysis</h1>
      </div>
    </div>
    <mat-form-field style="width: 100%;">
      <mat-label>Select</mat-label>
      <mat-select [(value)]="selectedItemId" (selectionChange)="selectionChangedFabric($event)">
        <mat-option value="null">All</mat-option>
        <mat-option *ngFor="let value of fabricData" [value]="value.id">
          {{ value.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div *ngIf="selectedItemId === null || selectedItemId === 1 || selectedItemId === 'null'" >
      <div class="header-all-fabric">
        <h2 style="text-align: center;padding: 5px;">All Fabric</h2>
     </div>
 
    
    <div *ngIf="supplierWorkingData && volumeData" class="all-fabric-table">
     <div>
       <h2 class="data-header">Supplier Working on Top 10 Fabrics(Unique count for each fabric)</h2>
      <table mat-table [dataSource]="supplierWorkingData" class="mat-elevation-z8">
        <ng-container matColumnDef="Fabric">
          <th mat-header-cell *matHeaderCellDef> Fabric </th>
          <td mat-cell *matCellDef="let element"> {{element.Fabric}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Composition">
          <th mat-header-cell *matHeaderCellDef> Composition </th>
          <td mat-cell *matCellDef="let element"> {{element.Composition}} </td>
        </ng-container>
    
        <ng-container matColumnDef="2023 Supplier">
          <th mat-header-cell *matHeaderCellDef> 2023 Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element['2023 Supplier']}} </td>
        </ng-container>
    
        <ng-container matColumnDef="2022 Supplier">
          <th mat-header-cell *matHeaderCellDef> 2022 Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element['2022 Supplier']}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Diff %">
          <th mat-header-cell *matHeaderCellDef> Diff % </th>
          <td mat-cell *matCellDef="let element"> {{element['Diff %']}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     </div>
    
      <div>
        <h2 class="data-header">Volume on Top 10 Fabrics</h2>
      <table mat-table [dataSource]="volumeData" class="mat-elevation-z8">
        <ng-container matColumnDef="Fabric">
          <th mat-header-cell *matHeaderCellDef> Fabric </th>
          <td mat-cell *matCellDef="let element"> {{element.Fabric}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Composition">
          <th mat-header-cell *matHeaderCellDef> Composition </th>
          <td mat-cell *matCellDef="let element"> {{element.Composition}} </td>
        </ng-container>
    
        <ng-container matColumnDef="2023 Supplier">
          <th mat-header-cell *matHeaderCellDef> 2023 Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element['2023 Supplier']}} </td>
        </ng-container>
    
        <ng-container matColumnDef="2022 Supplier">
          <th mat-header-cell *matHeaderCellDef> 2022 Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element['2022 Supplier']}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Diff %">
          <th mat-header-cell *matHeaderCellDef> Diff % </th>
          <td mat-cell *matCellDef="let element"> {{element['Diff %']}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
    </div>
  </div>
    <div *ngIf="selectedItemId === null || selectedItemId === 2 || selectedItemId === 'null'">
      <div class="header-all-fabric">
        <h2 style="text-align: center;padding: 5px;">Nominated Fabric</h2>
     </div>
     <div class="nominated-graph">
      <div style="width: 20%;">
        <canvas id="fabricOriginChart2023"></canvas>
        <p style="text-align: center;">6 country</p>
      </div>
      <div style="width: 20%;">
        <canvas id="fabricOriginChart2022"></canvas>
        <p style="text-align: center;">8 country</p>
      </div>
      <div style="width: 20%;">
        <canvas id="nominatedWeightChart"></canvas>
        <p style="text-align: center;">42 fabric</p>
      </div>
      <div style="width: 40%;">
        <canvas id="nominatedPriceChart"></canvas>
      </div>
    </div>
<div class="nominated-data-table">
  <div class="table_data">
    <table mat-table [dataSource]="nominatedFabricData?.tables?.table_1" class="mat-elevation-z8">
      <ng-container matColumnDef="fabric">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;"> Fabric </th>
        <td mat-cell *matCellDef="let element"> {{element.fabric}} </td>
      </ng-container>
      <ng-container matColumnDef="top_mill">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;"> Top Mill </th>
        <td mat-cell *matCellDef="let element"> {{element.top_mill}} </td>
      </ng-container>
      <ng-container matColumnDef="top_mill_percentage">
        <th mat-header-cell *matHeaderCellDef  style="background-color: #444;color: #fff;">%</th>
        <td mat-cell *matCellDef="let element"> {{element.top_mill_percentage}} </td>
      </ng-container>
      <ng-container matColumnDef="top_production">
        <th mat-header-cell *matHeaderCellDef  style="background-color: #444;color: #fff;"> Top Production </th>
        <td mat-cell *matCellDef="let element"> {{element.top_production}} </td>
      </ng-container>
      <ng-container matColumnDef="top_production_percentage">
        <th mat-header-cell *matHeaderCellDef  style="background-color: #444;color: #fff;">%</th>
        <td mat-cell *matCellDef="let element"> {{element.top_production_percentage}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['fabric', 'top_mill','top_mill_percentage','top_production','top_production_percentage']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['fabric', 'top_mill','top_mill_percentage','top_production','top_production_percentage'];"></tr>
    </table>
  </div>
  <div class="table_data">
    <table mat-table [dataSource]="nominatedFabricData?.tables?.table_2" class="mat-elevation-z8">
      <ng-container matColumnDef="fabric">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;"> Fabric </th>
        <td mat-cell *matCellDef="let element"> {{element.fabric}} </td>
      </ng-container>
      <ng-container matColumnDef="2023_quality">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;"> 2023_quality </th>
        <td mat-cell *matCellDef="let element"> {{element['2023_quality']}} </td>
      </ng-container>
      <ng-container matColumnDef="2022_quality">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;">2022_quality</th>
        <td mat-cell *matCellDef="let element"> {{element['2022_quality']}} </td>
      </ng-container>
      <ng-container matColumnDef="difference">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;">diff</th>
        <td mat-cell *matCellDef="let element"> {{element.difference}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['fabric', '2023_quality','2022_quality','difference']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['fabric', '2023_quality','2022_quality','difference'];"></tr>
    </table>
  </div>
  <div class="table_data">
    <table mat-table [dataSource]="nominatedFabricData?.tables?.table_3" class="mat-elevation-z8">
      <ng-container matColumnDef="fabric">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;"> Fabric </th>
        <td mat-cell *matCellDef="let element"> {{element.fabric}} </td>
      </ng-container>
      <ng-container matColumnDef="2023_price_eur">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;"> 2023_price_eur </th>
        <td mat-cell *matCellDef="let element"> {{element['2023_price_eur']}} </td>
      </ng-container>
      <ng-container matColumnDef="2022_price_eur">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;">2022_price_eur</th>
        <td mat-cell *matCellDef="let element"> {{element['2022_price_eur']}} </td>
      </ng-container>
      <ng-container matColumnDef="difference">
        <th mat-header-cell *matHeaderCellDef style="background-color: #444;color: #fff;">diff</th>
        <td mat-cell *matCellDef="let element"> {{element.difference}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['fabric', '2023_price_eur','2022_price_eur','difference']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['fabric', '2023_price_eur','2022_price_eur','difference'];"></tr>
    </table>
  </div>
</div>


     
</div>
    <div *ngIf="selectedItemId === null || selectedItemId === 3 || selectedItemId === 'null'">
      <div class="header-all-fabric">
        <h2 style="text-align: center;padding: 5px;">Land Price Analysis By Season & Typology</h2>
     </div>
   <div class="load-price-data">
    <div style="width: 48%;">
      <h2 class="data-load-header">LP Summer Seasons (EUR)</h2>
      <canvas id="summerChart"></canvas>
    </div>
    <div style="width: 48%;">
      <h2 class="data-load-header">LP winter Seasons (EUR)</h2>
      <canvas id="winterChart"></canvas>
    </div>
   </div>
    </div>
    <div *ngIf="selectedItemId === null || selectedItemId === 4 || selectedItemId === 'null'">
      <div class="header-all-fabric">
        <h2 style="text-align: center;padding: 5px;">Volume Evolution Analysis by Season & Typology</h2>
     </div>
   <div class="load-price-data">
      <div style="width: 48%;">
        <h2 class="data-load-header">Volume_Evolution_per_Season_Typo_Summer</h2>
        <canvas id="volumeEvolutionETEChart"></canvas>
      </div>
      <div style="width: 48%;">
        <h2 class="data-load-header">Volume_Evolution_per_Season_Typo_Summer</h2>
        <canvas id="volumeEvolutionHIVERChart"></canvas>
      </div>   
   </div>
    </div>
  
  </div>
  