<div>
  <div class="fabric-analysis-container">
    <mat-toolbar color="primary" class="toolbar">
      <span>Fabric Analysis</span>
      <span class="spacer"></span>
      <nav>
        <a mat-button routerLink="all-Fabric">All Fabric</a>
        <a mat-button routerLink="nominated-Fabric">Nominated Fabric</a>
        <a mat-button routerLink="land-price-analysis">Land Price Analysis</a>
        <a mat-button routerLink="volume-evolution-analysis">Volume Evolution Analysis</a>
        <a mat-button routerLink="lead-time-analysis">Lead Time Analysis</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

      